.About {
    background-color: #fdd300;
    padding: 100px;
}

.About1 {
    font-weight: bolder;
    font-size: 32pt;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Courier New', Courier, monospace;
}


